/* GENERALES */
html {
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    width: 100%;
    height: 100%;
    transition: all 1.3s ease-out 0s;
    background-color: #fff;
    color: #696969;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: 700px;
    line-height: 23px;
    overflow-x: hidden !important;
    overflow-y: scroll;
}

p {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

h1 {
    font-family: 'Open Sans',sans-serif;
    color: #000000 !important;
    letter-spacing: 10px;
    text-transform: uppercase;
}

h2 {
    font-family: 'Open Sans',sans-serif;
    font-weight: 200;
    letter-spacing: 10px;
    line-height: 1.250em;
    text-transform: uppercase;
}

h3 {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 12px;
    line-height: 1.28571em;
}

h4 {
    color: #000000 !important;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 3% 0 3% 0;
}

h5 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.44444em;
    text-transform: uppercase;
}

h6 {
    font-family: 'Open Sans', serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 26px;
}

h1, h1 a, h3, h3 a {
    color: #5d5d5d;
}

h2, h2 a, h4, h4 a, h5, h5 a {
    color: #353535;
    margin: 2% 0 3% 0;
}

h6, h6 a {
    color: #777;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    text-transform: inherit;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: #000;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.2s ease-in-out 0s;
}

a, p a {
    color: #696969;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.2s ease-in-out 0s;
}

a, a:hover, a:focus, a:active, button::-moz-focus-inner,input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, select::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 0;
    text-decoration: none;
    -moz-outline: none;
    outline: none;
}

ul {
    list-style: none outside none;
}

ul li {
    margin: 0;
    line-height: 30px;
    position: relative;
}

hr {
    border-width: 1px 0 0;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
}

span {
    font-family: 'Open Sans', serif;   
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase !important;
}

/*Text-inputs*/

input {
    border: none;
    border-bottom: 1px solid #ff4081;
    display: block;
    font-size: 16px;
    padding: 8px 0px;
    -webkit-transition: 0.2s border-bottom;
    transition: 0.2s border-bottom;
    width: 100%;
}

input:focus, input:invalid {
    box-shadow: none;
    outline: none;
}

input:focus {
    border-bottom: 1px solid #ff4081;
}

/*Labels*/
label {
    color: #ff4081;
    font-size: 16px;
    pointer-events: none;
    position: absolute;
    top: 10px;
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
}

input:focus ~ label, input:valid ~ label {
    color: #ff4081;
    font-size: 12px;
    top: -16px;
}

/*Bar that appears when an input is selected*/
.bar:before, .bar:after {
    background: #ff4081;
    bottom: 1px;
    content: '';
    height: 2px;
    position: absolute;
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
    width: 0;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}


/* Margins */
.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-90 {
    margin-top: 90px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-120 {
    margin-top: 120px;
}

.mt-200 {
    margin-top: 200px;
}

.mt-300 {
    margin-top: 300px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-90 {
    margin-bottom: 90px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-120 {
    margin-bottom: 120px;
}

.mb-200 {
    margin-bottom: 200px;
}

.mb-300 {
    margin-bottom: 300px;
}

.m-10 {
    margin: 10px;
}

.m-20 {
    margin: 20px;
}

.m-70 {
    margin: 70px;
}

.mt-10-n {
    margin-top: -10px !important;
}

.mt-20-n {
    margin-top: -20px !important;
}

.mt-30-n {
    margin-top: -30px !important;
}

.mt-40-n {
    margin-top: -40px !important;
}

.mt-50-n {
    margin-top: -50px !important;
}

.mt-60-n {
    margin-top: -60px !important;
}

.mt-70-n {
    margin-top: -70px !important;
}

.mt-200-n {
    position: relative !important;
    top: -200px !important;
    z-index: 0 !important;
}

.mt-300-n {
    position: relative !important;
    top: -300px !important;
    z-index: 1 !important;
}

.mt-300-z {
    position: relative !important;
    top: -300px !important;
    z-index: 0 !important;
}

.mb-10-n {
    margin-bottom: -10px !important;
    position: relative;
}

.mb-20-n {
    margin-bottom: -20px !important;
    position: relative;
}

.mb-30-n {
    margin-bottom: -30px !important;
    position: relative;
}

.mb-40-n {
    margin-bottom: -40px !important;
    position: relative;
}

.mb-50-n {
    margin-bottom: -50px !important;
    position: relative;
}

.mb-60-n {
    margin-bottom: -60px !important;
    position: relative;
}

.mb-70-n {
    margin-bottom: -70px !important;
    position: relative;
}

.mb-200-n {
    position: relative !important;
    margin-bottom: -200px !important;
}

.mb-200-z {
    position: relative !important;
    margin-bottom: -200px !important;
}

.mb-300-n {
    position: relative !important;
    margin-bottom: -300px;
}

@media (max-width: 992px) {
    .xs-mb-30 {
        margin-bottom: 30px !important;
    }
}

@media screen and (max-width: 1800px) {
    .mt-30-n {
        margin-top: -30px;
    }

    .mt-200-n {
        top: 0px !important;
    }

    .mb-200-n {
        margin-bottom: 0px !important;
    }

    .mb-200-z {
        margin-bottom: -300px !important;
    }
}