@import url(icons/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css);
@import url(icons/fonts/pe-icon-7-stroke/css/helper.css);
@import url(icons/font-awesome.min.css);
/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);


/* Buttons */

::selection {
    color: #fff;
    background: #ccc;
}

::-moz-selection {
    color: #fff;
    background: #ccc;
}

.call-action-line-rosa-btn, .call-action-line-rosa-btn:focus, .call-action-line-rosa-btn:active {
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: transparent;
    display: inline-block;
    padding: 0px 0;
    color: #ff4081;
    border: 2px solid #ff4081;
    text-transform: uppercase;
    border-radius: 40px;
    text-decoration: none;
    width: 140px;
    height: 45px;
    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    position: relative;
    font-weight: 100;
    padding: 0.5em 1.29em;
    text-align: center;  
    overflow: hidden;
    position: relative;
    z-index: 0;
    cursor: pointer;
    margin-bottom: 2%;
}

.call-action-line-rosa-btn:hover {
    background-color: #ff4081;
    border: 2px solid #ff4081;
    color: #fff;
}

.call-action-line-rosa-pros-btn, .call-action-line-rosa-btn:focus, .call-action-line-rosa-btn:active {
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: transparent;
    display: inline-block;
    padding: 0px 0;
    color: #ff4081;
    border: 2px solid #ff4081;
    text-transform: uppercase;
    border-radius: 40px;
    text-decoration: none;
    width: 200px;
    height: 45px;
    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    position: relative;
    font-weight: 100;
    padding: 0.6em 1.27em;
    text-align: center;  
    overflow: hidden;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.call-action-line-rosa-pros-btn:hover {
    background-color: #ff4081;
    border: 2px solid #ff4081;
    color: #fff;
}

.call-action-rosa-btn, .call-action-rosa-btn:focus, .call-action-rosa-btn:active {
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #ff4081;
    display: inline-block;
    color: #fff;
    border: 2px solid #FF357C;
    border-radius: 40px;
    text-decoration: none;
    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    position: relative;
    font-weight: 100;
    margin-top: 4%;
    padding: 0.7em 1.25em;
    text-align: center;
    overflow: hidden;
    z-index: 0;
    cursor: pointer;

    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,1.75);
}

.call-action-rosa-btn:hover {
    background-color: #ff4081;
    border: 2px solid #ff4081;
    color: #FFFFFF;
}

.hoverable:hover > .anim {
    -moz-animation: anim-out 0.75s;
    -webkit-animation: anim-out 0.75s;
    animation: anim-out 0.75s;
}

.hoverable:hover > .anim:after {
    -moz-animation: anim-out-pseudo 0.75s;
    -webkit-animation: anim-out-pseudo 0.75s;
    animation: anim-out-pseudo 0.75s;
}

/* Preloader */
#preloader  {
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: fixed;
    margin-top: 0px;
    top: 0px;
    z-index: 9999;
}

#status  {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url("../img/preloader.gif");
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    opacity: .2;
}

/* PROPIOS IGUANA */

.iguana-inicio-space{
    margin-bottom: 20%;
}



.iguana-icon {
    font-size: 20px;
}

#section0{
    background-image: url(../img/bg-header.jpg);
    background-repeat: no-repeat;
    background-position: center;

    background-size: cover;
    background-attachment: fixed;
}

.mat-in {
    position: relative;
    margin-bottom: 32px;
}

.frame-img-light {
    background-image: url("../img/bg-pros.jpg");
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: auto;
}

.frame-img-light img {
    width: 100%;
}

.vertical-center {
    min-height: 70vh; /* You might also want to use
                          'height' property instead.
                          
                          Note that for percentage values of
                          'height' or 'min-height' properties,
                          the 'height' of the parent element
                          should be specified explicitly.
    
                          In this case the parent of '.vertical-center'
                          is the <body> element */

    /* Make it a flex container */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; 

    /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
    -webkit-align-items : center;
    -moz-box-align : center;
    -ms-flex-align : center;
    align-items : center;

    /* In legacy web browsers such as Firefox 9
       we need to specify the width of the flex container */
    width: 100%;

    /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
       hence the bootstrap's container won't be aligned to the center anymore.
    
       Therefore, we should use the following declarations to get it centered again */
    -webkit-box-pack : center;
    -moz-box-pack : center;
    -ms-flex-pack : center;
    -webkit-justify-content : center;
    justify-content : center;
}

/* MENU */
#menu li {
    display:inline-block;
    margin: 10px;
    color: #000;
    background:#fff;
    background: rgba(255,255,255, 0.5);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#menu li.active{
    background:#666;
    background: rgba(0,0,0, 0.5);
    color: #fff;
}
#menu li a{
    text-decoration:none;
    color: #000;
}
#menu li.active a:hover{
    color: #000;
}
#menu li:hover{
    background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
    padding: 9px 18px;
    display:block;
}
#menu li.active a{
    color: #fff;
}
#menu{
    position:fixed;
    top:0;
    left:0;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin:0;
}

.intro p{
    width: 50%;
    margin: 0 auto;
    font-size: 1.5em;
}



/*================================================= 
            RESPONSIVE 
======================== */

/* LINEAS */
.heading-line-center {
    text-align: center;
    width: 150px;
    border-bottom: 3px solid #ff4081;
    margin-bottom: 13%;
    margin-left: auto;
    margin-right: auto;
}

.heading-line-blue-left {
    width: 140px;
    border-bottom: 2px solid #ff4081;
    margin-top: 22px;
    margin-right: 33px;
    margin-left: -12%;
    float: left;
}

.line-black-left {
    border: 1px #ccc solid;
    margin-top: 5px;
    margin-bottom: 5px;
}


/* Icon Scroll¨*/
.mouse {
    position: absolute;
    bottom: 5%;
    right: 49%;
    z-index: 500;
    -webkit-animation: vertical 3s ease infinite;
    animation: vertical 3s ease infinite;
}

@keyframes vertical { 
    0%, 60%, 80%, 100% {-webkit-transform: translateY(0);} 
    20% {-webkit-transform: translateY(-5px);}
    40% {-webkit-transform: translateY(20px);}
} 

@-webkit-keyframes vertical { 
    0%, 60%, 80%, 100% {-webkit-transform: translateY(0);} 
    20% {-webkit-transform: translateY(-5px);}
    40% {-webkit-transform: translateY(20px);}
}

@-moz-keyframes vertical{
    0%, 60%, 80%, 100% { -moz-transform: translateY(0);} 
    20% { -moz-transform: translateY(-5px);}
    40% { -moz-transform: translateY(20px);}
}

@-ms-keyframes vertical{
    0%, 60%, 80%, 100% { -ms-transform: translateY(0);} 
    20% { -ms-transform: translateY(-5px);}
    40% { -ms-transform: translateY(20px);}
}

.mouse a:hover {
    opacity: 0.5;
    transition: all 0.5s ease-in-out 0s;
}

.iguana-home-btn-auto, .iguana-home-btn-hogar{
    text-align: center;
}

.iguana-como-funciona-titulo{
    position: absolute;
    top: 2%;
    text-align: center;
    width: 95%;
}

.iguana-telefono{
    background-image: url(../img/telefono.gif);
    position: absolute;
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    top: 20%;
    left: 15%;
    width: 70%;
}
.iguana-telefono-contenido{
    margin: auto;
    width: 87%;
    padding-top: 24%;
}

.iguana-como-funciona-container {
    margin-top: 100%;
}

/* Móviles en horizontal o tablets en vertical
------------------------------------------------------------------------- */
@media (min-width: 480px) 
and (max-width: 1023px){
    .iguana-home-btn-auto{
        width: 50%;
        text-align: right;
    }
    .iguana-home-btn-hogar{
        width: 50%;
        text-align: left;
    }
    .iguana-destacados-cuadro{
        width: 50%;
    }

    .iguana-telefono{
        top: 30%;
        width: 30%;
        left: 55%;
    }

    .iguana-como-funciona-container {
        width: 50%;
        margin-top: 0;
        margin-left: 7%;
    }
}

/* Tablets en horizonal y escritorios normales
------------------------------------------------------------------------- */
@media (min-width: 1024px) { 
    .iguana-home-btn-auto{
        width: 50%;
        text-align: right;
    }
    .iguana-home-btn-hogar{
        width: 50%;
        text-align: left;
    }

    .iguana-telefono{
        top: 25%;
        width: 30%;
        left: 53%;
    }

    .iguana-como-funciona-container {
        margin-top: 0;
    }

}

/* Escritorios muy anchos
------------------------------------------------------------------------- */
@media (min-width: 1200px) { 

    .heading-line-center{
        margin-bottom: 5%;
    }
}

/* Animation Page */
.title-left h5 {
    font-size: 27px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: none;
    margin-bottom: 32px;
}

.title-left h6 {
    color: #373737;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 26px;
    margin-left: 20px;
}

.title-left h6 span {
    color: #696969;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 26px;
}

.title-left span {
    font-family: 'Open Sans', serif;
    font-style: italic;
    font-weight: 400;
    text-transform: none;
}

.anim-triangle {
    right: 30%;
    width: 100%;
    height: auto;
    margin-top: 5%;
    position: absolute !important;
}

.anim-shape {
    left: 34%;
    width: 100%;
    height: auto;
    margin-top: 12%;
    position: absolute !important;
}

.anim-square {
    right: 18%;
    width: 100%;
    height: auto;
    margin-top: 37%;
    position: absolute !important;
}

.anim-triangle-2 {
    left: 18%;
    width: 100%;
    height: auto;
    margin-top: 37%;
    position: absolute !important;
}

@media (max-width: 1400px) {
    .anim-triangle, .anim-shape {
        margin-top: 15%;
    }

    .anim-square, .anim-triangle-2 {
        margin-top: 40%;
    }
}

@media(max-width: 992px) {
    .anim-square, .anim-triangle-2 {
        margin-top: 60%;
    }
}

@media (max-width: 480px) {
    .anim-triangle, .anim-shape, .anim-square, .anim-triangle-2 {
        display: none !important;
    }
}

.anim-spin {
    -webkit-animation-name: spin;
    -moz-animation-name: spin;
    -ms-animation-name: spin;
    animation-name: spin;
    -webkit-animation-duration: 25000ms;
    -moz-animation-duration: 25000ms;
    -ms-animation-duration: 25000ms;
    animation-duration: 25000ms;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
