.mobile-nav {
    position: fixed;
    right: -200px;
    width: 260px;
    height: 100%;
    top: 0;
    z-index: 10;
    text-align: left;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
}	

.mobile-nav.mobile-nav-open {
    right: 0px;
}

.mobile-nav-wrap {
    position: absolute;
    top: 0;
    left: 60px;
    background: #282828;
    width: 200px;
    height: 100%;
}

.mobile-nav-wrap ul{
    padding-left: 0px;
}

.mobile-nav-wrap ul li{
    list-style: none;
}

.mobile-nav-wrap ul li i{
    float: right;
    color: #fff;
}

.mobile-sub-menu{
    display: none;
}

.mobile-sub-menu .has-sub-menu a{
    display: block;
}

.menu a {
    margin:0px;
    margin-bottom: 2px;
    color: #777;
    display: block;
    font-size: 11px;
    letter-spacing: 2px;
    font-weight: 200;
    line-height: 23px;
    text-transform: uppercase;
    font-family:"Montserrat";
    font-weight: 400;
    background:rgba(0,0,0,0.1);
    padding: 10px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;		
}

.menu a:hover {
    color: #baab8b;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#mobile-nav-trigger {
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 11;
    display: block;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    color: #ffffff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    background: rgba(0,0,0,0.5) url('../images/menu.png') center center;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;					
}

.main-header{
    background: transparent;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    width: 100%;
    padding-left: 90px;
    padding-right: 90px;
    -webkit-transition: all .8s ease-in-out .3s;
    -moz-transition: all .8s ease-in-out .3s;
    -ms-transition: all .8s ease-in-out .3s;
    -o-transition: all .8s ease-in-out .3s;
    transition: all .8s ease-in-out .3s;
}
.main-header .logo{
    margin: 30px 0px;
    -webkit-transition: all .8s ease-in-out .3s;
    -moz-transition: all .8s ease-in-out .3s;
    -ms-transition: all .8s ease-in-out .3s;
    -o-transition: all .8s ease-in-out .3s;
    transition: all .8s ease-in-out .3s;
}
.main-header ul{
    margin-bottom: 0px;
}
.main-menu-item{
    display: inline-block;
    list-style: none;
    padding-top: 40px;
    padding-bottom: 40px;	
    margin: 0px 10px;
    -webkit-transition: all .8s ease-in-out .3s;
    -moz-transition: all .8s ease-in-out .3s;
    -ms-transition: all .8s ease-in-out .3s;
    -o-transition: all .8s ease-in-out .3s;
    transition: all .8s ease-in-out .3s;
}
.main-menu-item i{
    -webkit-transition: all .8s ease-in-out .3s;
    -moz-transition: all .8s ease-in-out .3s;
    -ms-transition: all .8s ease-in-out .3s;
    -o-transition: all .8s ease-in-out .3s;
    transition: all .8s ease-in-out .3s;
}
.main-menu-item a{
    text-transform: uppercase;
    font-size: 14px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

@media (min-width: 3000px) {
    .mobile-nav{
        display: none;
        visibility: hidden;
    }
    .container{
        max-width:1100px;
    }
}

/*iMac 27, HD Screens and Large Monitors*/
@media (min-width: 1921px) and (max-width: 2560px) {
    .mobile-nav{
        display: none;
        visibility: hidden;
    }
}

/*Large Widescreen Monitors*/
@media (max-width: 1920px) {
    .mobile-nav{
        display: none;
        visibility: hidden;
    }
}

/*Small Desktop and Very Small Notebook */
@media (max-width: 960px) {
    .container{
        width: 900px;
    }
    .main-header{
        display: none;
        visibility: hidden;
    }
    .mobile-nav{
        display: block;
        visibility: visible;
    }
}