/*
************************************************************
COMMONS
************************************************************
*/

html {
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    width: 100%;
    height: 100%;
    transition: all 1.3s ease-out 0s;
    background-color: #fff;
    color: #696969;
    font-family: 'Open Sans',sans-serif;
    line-height: 23px;
    overflow-x: hidden !important;
    overflow-y: scroll;
}

p {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 400;
}

h1 {
    font-family: 'Open Sans',sans-serif;
    color: #000000;
    letter-spacing: 5px;
    text-transform: uppercase;
}

h2 {
    font-family: 'Open Sans',sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}

h3 {
    font-weight: 600;
    letter-spacing: 5px;
}

h4 {
    color: #000000;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h5 {
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h6 {
    font-family: 'Open Sans', serif;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 26px;
}

h1, h1 a, h3, h3 a {
    color: #5d5d5d;
}

h2, h2 a, h4, h4 a, h5, h5 a {
    color: #353535;
}

h6, h6 a {
    color: #777;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    text-transform: inherit;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: #000;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.2s ease-in-out 0s;
}

a, p a {
    cursor: pointer;
    text-decoration: none;
    transition: color 0.2s ease-in-out 0s;
}

a, a:hover, a:focus, a:active, button::-moz-focus-inner,input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, select::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 0;
    text-decoration: none;
    -moz-outline: none;
    outline: none;
}

ul {
    list-style: none outside none;
}

ul li {
    line-height: 40px;
    position: relative;
}

hr {
    border-width: 1px 0 0;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
}

span {
    font-family: 'Open Sans', serif;   
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase !important;
}

/*Text-inputs*/

input {
    border: none;
    border-bottom: 1px solid #ff4081;
    display: block;
    padding: 8px 0px;
    -webkit-transition: 0.2s border-bottom;
    transition: 0.2s border-bottom;
    width: 100%;
}

input:focus, input:invalid {
    box-shadow: none;
    outline: none;
}

input:focus {
    border-bottom: 1px solid #ff4081;
}

/*Labels*/

#section4 label {
    color: #ff4081;
    pointer-events: none;
    position: absolute;
    top: 10px;
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
}

input:focus ~ label, input:valid ~ label {
    color: #ff4081;
    top: -16px;
}

/*Bar that appears when an input is selected*/
.bar:before, .bar:after {
    background: #ff4081;
    bottom: 1px;
    content: '';
    height: 2px;
    position: absolute;
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
    width: 0;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}


/* Margins */
.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-90 {
    margin-top: 90px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-120 {
    margin-top: 120px;
}

.mt-200 {
    margin-top: 200px;
}

.mt-300 {
    margin-top: 300px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-90 {
    margin-bottom: 90px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-120 {
    margin-bottom: 120px;
}

.mb-200 {
    margin-bottom: 200px;
}

.mb-300 {
    margin-bottom: 300px;
}

.m-10 {
    margin: 10px;
}

.m-20 {
    margin: 20px;
}

.m-70 {
    margin: 70px;
}

.mt-10-n {
    margin-top: -10px !important;
}

.mt-20-n {
    margin-top: -20px !important;
}

.mt-30-n {
    margin-top: -30px !important;
}

.mt-40-n {
    margin-top: -40px !important;
}

.mt-50-n {
    margin-top: -50px !important;
}

.mt-60-n {
    margin-top: -60px !important;
}

.mt-70-n {
    margin-top: -70px !important;
}

.mt-200-n {
    position: relative !important;
    top: -200px !important;
    z-index: 0 !important;
}

.mt-300-n {
    position: relative !important;
    top: -300px !important;
    z-index: 1 !important;
}

.mt-300-z {
    position: relative !important;
    top: -300px !important;
    z-index: 0 !important;
}

.mb-10-n {
    margin-bottom: -10px !important;
    position: relative;
}

.mb-20-n {
    margin-bottom: -20px !important;
    position: relative;
}

.mb-30-n {
    margin-bottom: -30px !important;
    position: relative;
}

.mb-40-n {
    margin-bottom: -40px !important;
    position: relative;
}

.mb-50-n {
    margin-bottom: -50px !important;
    position: relative;
}

.mb-60-n {
    margin-bottom: -60px !important;
    position: relative;
}

.mb-70-n {
    margin-bottom: -70px !important;
    position: relative;
}

.mb-200-n {
    position: relative !important;
    margin-bottom: -200px !important;
}

.mb-200-z {
    position: relative !important;
    margin-bottom: -200px !important;
}

.mb-300-n {
    position: relative !important;
    margin-bottom: -300px;
}

@media (max-width: 992px) {
    .xs-mb-30 {
        margin-bottom: 30px !important;
    }
}

@media screen and (max-width: 1800px) {
    .mt-30-n {
        margin-top: -30px;
    }

    .mt-200-n {
        top: 0px !important;
    }

    .mb-200-n {
        margin-bottom: 0px !important;
    }

    .mb-200-z {
        margin-bottom: -300px !important;
    }
}

/*
************************************************************
FIN COMMONS
************************************************************
*/


/*
************************************************************
ARROW
************************************************************
*/

.nav-fillpath a {
    width: 60px;
    height: 60px;
}

.nav-fillpath .icon-wrap {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.nav-fillpath a::before,
.nav-fillpath a::after,
.nav-fillpath .icon-wrap::before,
.nav-fillpath .icon-wrap::after {
    position: absolute;
    left: 50%;
    width: 3px;
    height: 50%;
    background: #566475;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.nav-fillpath .icon-wrap::before,
.nav-fillpath .icon-wrap::after {
    z-index: 100;
    height: 0;
    background: #fff;
    -webkit-transition: height 0.3s, -webkit-transform 0.3s;
    transition: height 0.3s, transform 0.3s;
}

.nav-fillpath a::before,
.nav-fillpath .icon-wrap::before {
    top: 50%;
    -webkit-transform: translateX(-50%) rotate(-135deg);
    transform: translateX(-50%) rotate(-135deg);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.nav-fillpath a.next::before,
.nav-fillpath a.next .icon-wrap::before {
    -webkit-transform: translateX(-50%) rotate(135deg);
    transform: translateX(-50%) rotate(135deg);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.nav-fillpath a::after,
.nav-fillpath .icon-wrap::after {
    top: 50%;
    -webkit-transform: translateX(-50%) rotate(-45deg);
    transform: translateX(-50%) rotate(-45deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.nav-fillpath a.next::after,
.nav-fillpath a.next .icon-wrap::after {
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
}

.nav-fillpath a.prev h3 {
    left: 100%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.nav-fillpath a.next h3 {
    right: 100%;
    text-align: right;
    -webkit-transform: translateY(-50%) translateX(50%);
    transform: translateY(-50%) translateX(50%);
}

.nav-fillpath a:hover .icon-wrap::before,
.nav-fillpath a:hover .icon-wrap::after {
    height: 50%;
}

.nav-fillpath a:hover::before,
.nav-fillpath a:hover .icon-wrap::before {
    -webkit-transform: translateX(-50%) rotate(-125deg);
    transform: translateX(-50%) rotate(-125deg);
}

.nav-fillpath a.next:hover::before,
.nav-fillpath a.next:hover .icon-wrap::before {
    -webkit-transform: translateX(-50%) rotate(125deg);
    transform: translateX(-50%) rotate(125deg);
}

.nav-fillpath a:hover::after,
.nav-fillpath a:hover .icon-wrap::after {
    -webkit-transform: translateX(-50%) rotate(-55deg);
    transform: translateX(-50%) rotate(-55deg);
}

.nav-fillpath a.next:hover::after,
.nav-fillpath a.next:hover .icon-wrap::after {
    -webkit-transform: translateX(-50%) rotate(55deg);
    transform: translateX(-50%) rotate(55deg);
}

.nav-fillpath a:hover h3 {
    opacity: 1;
    -webkit-transform: translateY(-50%) translateX(0);
    transform: translateY(-50%) translateX(0);
}

.nav-fillpath > a {
    position: absolute;
    top: 59%;
    display: block;
    outline: none;
    text-align: left;
    z-index: 1000;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

a.prev {
    display: none;
    left: -5%;
}

a.next {
    display: none;
    right: -5%;
}

@media (min-width: 480px)
and (max-width: 767px){
    nav a.prev {
        display: block;
        left: -4%;
    }

    nav a.next {
        display: block;
        right: 0;
    }
    .nav-fillpath a {
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 768px) { 
    nav a.prev {
        display: block;
        left: 0;
    }

    nav a.next {
        display: block;
        right: 0;
    }

    .nav-fillpath a {
        width: 100px;
        height: 100px;
    }

}


/* Buttons */

::selection {
    color: #fff;
    background: #ccc;
}

::-moz-selection {
    color: #fff;
    background: #ccc;
}

.call-action-line-rosa-btn, .call-action-line-rosa-btn:focus, .call-action-line-rosa-btn:active {
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: transparent;
    display: inline-block;
    padding: 0px 0;
    color: #ff4081;
    border: 2px solid #ff4081;
    text-transform: uppercase;
    border-radius: 40px;
    text-decoration: none;
    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    position: absolute;
    font-weight: 100;
    padding: 5px 10px;
    text-align: center;  
    overflow: hidden;
    z-index: 0;
    cursor: pointer;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50%;
}

.call-action-azul-btn:hover {
    background-color: #3551ad;
    border: 2px solid #3551ad;
    color: #FFFFFF;
}

.call-action-line-rosa-btn:hover {
    background-color: #ff4081;
    border: 2px solid #ff4081;
    color: #fff;
}

.call-action-line-rosa-pros-btn, .call-action-line-rosa-pros-btn:focus, .call-action-line-rosa-pros-btn:active {
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: transparent;
    display: inline-block;
    padding: 0px 0;
    color: #ff4081;
    border: 2px solid #ff4081;
    text-transform: uppercase;
    border-radius: 40px;
    text-decoration: none;
    width: 220px;
    height: 45px;
    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    position: relative;
    font-weight: 100;
    padding: 0.6em 1.27em;
    text-align: center;  
    overflow: hidden;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.call-action-line-rosa-pros-btn:hover {
    background-color: #ff4081;
    border: 2px solid #ff4081;
    color: #fff;
}

.iguana-button, .iguana-button:focus, .iguana-button:active {
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #FFFFFF;
    display: inline-block;
    color: #333;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    text-decoration: none;
    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    position: relative;
    font-weight: 100;
    margin-top: 4%;
    padding: 0.7em 1.25em;
    text-align: center;
    overflow: hidden;
    z-index: 0;
    cursor: pointer;

    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0 10px 20px -5px black;
    transition: all 0.4s;
}

.iguana-button i {
    font-size: 18px;
}

.iguana-button:hover {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
    box-shadow: 0 20px 40px 2px rgba(0, 0, 0, 0.2);
    background-color: #ff4081;
    border: 2px solid #ff4081;
    color: #FFFFFF;
}


.call-action-azul-btn, .call-action-azul-btn:focus, .call-action-azul-btn:active {
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #3551ad;
    display: inline-block;
    color: #fff;
    border: 2px solid #3551ad;
    border-radius: 40px;
    text-decoration: none;
    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    padding: 5px 0 5px 0;
    text-align: center;
    width: 200px;
    overflow: hidden;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.call-action-rosa-btn, .call-action-rosa-btn:focus, .call-action-rosa-btn:active {
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #ff4081;
    display: inline-block;
    padding: 0px 0;
    color: white;
    border: 2px solid #ff4081;
    text-transform: uppercase;
    border-radius: 40px;
    text-decoration: none;
    width: 200px;
    height: 45px;
    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    position: relative;
    font-weight: 100;
    padding: 0.6em 1.27em;
    text-align: center;  
    overflow: hidden;
    position: relative;
    z-index: 0;
    cursor: pointer;

}

.hoverable:hover > .anim {
    -moz-animation: anim-out 0.75s;
    -webkit-animation: anim-out 0.75s;
    animation: anim-out 0.75s;
}

.hoverable:hover > .anim:after {
    -moz-animation: anim-out-pseudo 0.75s;
    -webkit-animation: anim-out-pseudo 0.75s;
    animation: anim-out-pseudo 0.75s;
}

/* Preloader */
#preloader  {
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: fixed;
    margin-top: 0px;
    top: 0px;
    z-index: 9999;
}

#status  {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    opacity: .2;
}


/* PROPIOS IGUANA */
.iguana-inicio-space{
    margin-bottom: 20%;
}

#section0{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#section0 h1, #section0 h4 {
    color: white;
}

.mat-in {
    position: relative;
    margin-bottom: 32px;
}

.frame-img-light {
    background-image: url("../images/home/bg-pros.jpg");
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 95%;
    height: auto;
}

.frame-img-light img {
    width: 100%;
}
/*================================================= 
            RESPONSIVE 
======================== */

/* LINEAS */
.heading-line-center {
    text-align: center;
    width: 150px;
    border-bottom: 3px solid #ff4081;
    margin-bottom: 13%;
    margin-left: auto;
    margin-right: auto;
}

.heading-line-blue-left {
    width: 140px;
    border-bottom: 2px solid #ff4081;
    margin-top: 22px;
    margin-right: 33px;
    margin-left: -12%;
    float: left;
}

.line-black-left {
    border: 1px #ccc solid;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: -20px;
}


/* Icon Scroll¨*/
.mouse {
    position: absolute;
    bottom: 8%;
    left: 45%;
    z-index: 500;
    -webkit-animation: vertical 3s ease infinite;
    animation: vertical 3s ease infinite;
}

@keyframes vertical { 
    0%, 60%, 80%, 100% {-webkit-transform: translateY(0);} 
    20% {-webkit-transform: translateY(-5px);}
    40% {-webkit-transform: translateY(20px);}
} 

@-webkit-keyframes vertical { 
    0%, 60%, 80%, 100% {-webkit-transform: translateY(0);} 
    20% {-webkit-transform: translateY(-5px);}
    40% {-webkit-transform: translateY(20px);}
}

@-moz-keyframes vertical{
    0%, 60%, 80%, 100% { -moz-transform: translateY(0);} 
    20% { -moz-transform: translateY(-5px);}
    40% { -moz-transform: translateY(20px);}
}

@-ms-keyframes vertical{
    0%, 60%, 80%, 100% { -ms-transform: translateY(0);} 
    20% { -ms-transform: translateY(-5px);}
    40% { -ms-transform: translateY(20px);}
}

.mouse a:hover {
    opacity: 0.5;
    transition: all 0.5s ease-in-out 0s;
}

.iguana-home-btn-auto, .iguana-home-btn-hogar{
    text-align: center;
}

.iguana-titulo-seccion{
    margin-top: 10%;
    text-align: center;
}

.iguana-como-funciona-texto{
    text-align: left;
    line-height: 2;
}

.iguana-telefono-card {
    position: absolute;
    background-color: #ccc;
    z-index: 10;
    top: 21%;
    left: 8%;
    width: 83%;
}

.iguana-telefono{
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10% 12% 1px 12%;
}

.iguana-telefono-contenido{
    margin: auto;
    width: 87%;
    padding-top: 24%;
}

.iguana-como-funciona-container {
    margin-top: 80%;
}

.iguana-home-container .col-lg-12 {
    text-align: center;
}

.iguana-home-container {
    margin-top: 28%;
}


/*
   MENU
*/
.mobile-nav {
    position: fixed;
    right: -200px;
    width: 260px;
    height: 100%;
    top: 0;
    z-index: 999;
    text-align: left;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
}	

.mobile-nav.mobile-nav-open {
    right: 0px;
}

.mobile-nav-wrap {
    position: absolute;
    top: 0;
    left: 60px;
    background: #3551ad;
    width: 200px;
    height: 100%;
}

.mobile-nav-wrap ul{
    padding-left: 0px;
}

.mobile-nav-wrap ul li{
    list-style: none;
}

.mobile-nav-wrap ul li i{
    float: right;
    color: #fff;
    font-size: 15px;
    margin: 7% 6% 0 0;
}

.menu a {
    font-family: 'Open Sans',sans-serif;
    color: white;
    display: block;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 200;
    text-transform: uppercase;
    font-weight: 400;
    padding: 5%;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;		
}

.menu a:hover {
    color: #baab8b;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#mobile-nav-trigger {
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 11;
    display: block;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    background: rgba(53,81,173,0.5) url('../static/restyling/images/menu.png') center center;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;					
}

.main-header{
    background: transparent;
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 0 5% 0 0;
    margin: 0;
    text-align: right;
    overflow: hidden;
}

nav > ul {
    margin-top: 15px;
}

nav > ul > li{
    display: inline-block;
    list-style: none;
    padding: 0;	
    margin: 0px 10px;
}

nav > ul > li > a{
    display: inline;
    position: relative;
    color: white;
    font-size: 18px;
}

nav > ul > li > a:hover{
    color: white;
}

.main-header{
    display: none;
    visibility: hidden;
}

.iguana-destacados-cuadro {
    margin-bottom: 6%;
}

.iguana-categories-cuadro {
    margin-bottom: 6%;
}

#section5 {
    padding-top: 12%;
    background: #252525;
}


/* Móviles en horizontal o tablets en vertical
  ------------------------------------------------------------------------- */
@media (min-width: 480px) 
and (max-width: 1023px){

    .iguana-home-container {
        margin-top: 25%;
    }

    .iguana-como-funciona-texto{
        line-height: 1;
    }

    .iguana-autos-section2 {
        padding-top: 30px;
    }
    .iguana-autos-section2 .hoverable{
        margin-top: 13%;
    }

    .iguana-autos-section0 {
        min-height: 320px !important;
    }

    .iguana-autos-section0 h1:first-child {
        margin-top: 12% !important;
    }

    .mouse {
        bottom: 8%;
        left: 48%;
    }
    .iguana-titulo-seccion{
        margin-top: 5%;
    }
    .iguana-home-btn-auto{
        width: 50%;
        text-align: right;
    }
    .iguana-home-btn-hogar{
        width: 50%;
        text-align: left;
    }

    .iguana-telefono-card{
        background-color: transparent;
        top: 35%;
        width: 30%;
        left: 53%;
    }
    .iguana-telefono{
        margin: 0;
    }

    .iguana-como-funciona-container {
        width: 50%;
        margin-top: 0;
        margin-left: 7%;
    }

    .nav-fillpath {
        display: block;
    }

    .iguana-hogar-section1 .iguana-destacados-cuadro {
        margin-bottom: 4%;
    }

    #section3 .iguana-destacados-cuadro {
        margin-bottom: 4%;
    }

}

/* Tablets en horizonal y escritorios normales
------------------------------------------------------------------------- */
@media (min-width: 1024px) { 

    .iguana-home-container {
        margin-top: 20%;
    }

    .iguana-autos-section1 .heading-line-center {
        margin-bottom: 2%;
    }

    .iguana-como-funciona-texto {
        line-height: 4;
    }

    .iguana-como-funciona-texto p{
        line-height: 40px;
    }

    .iguana-como-funciona-texto em{
        font-size: 20px;
    }

    .iguana-autos-section2 .hoverable{
        margin-top: 5%;
    }

    .iguana-autos-section2 {
        padding-top: 30px;
    }

    .iguana-home-section0 {
        min-height: 450px !important;
    }

    .iguana-home-section0 h1:first-child {
        margin-top: 15% !important;
    }

    .iguana-autos-section0 {
        min-height: 450px !important;
    }

    .iguana-autos-section0 h1:first-child {
        margin-top: 15% !important;
    }

    .iguana-autos-section0-right {
        text-align: left!important;
    }

    .mouse {
        bottom: 8%;
        left: 49%;
    }
    .iguana-como-funciona-titulo{
        top: 10%;
        left: 38%;
    }

    h1.wow.fadeInDown.text-center{
        letter-spacing: 17px;
        font-size: 40px;
    }

    h4.wow.fadeInDown.text-center{
        letter-spacing: 10px;
        font-size: 20px;
    }

    h2 {
        letter-spacing: 5px;
    }

    h5 {
        letter-spacing: 3px;
        font-size: 17px;
        font-weight: 400;
        padding-top: 15px;
    }

    p {
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 30px;
    }

    .iguana-home-btn-auto{
        width: 50%;
        text-align: right;
    }
    .iguana-home-btn-hogar{
        width: 50%;
        text-align: left;
    }

    .iguana-telefono-card{
        background-color: transparent;
        top: 34%;
        width: 36%;
        left: 53%;
    }

    .iguana-telefono{
        margin: 0;
    }

    .iguana-titulo-seccion{
        margin-top: 5%;
    }

    .mobile-nav{
        display: none;
        visibility: hidden;
    }

    .main-header {
        display: block;
        visibility: visible
    }

    .iguana-nav-izq{
        float: left;
    }

    .iguana-nav-izq img{
        width: 85%;
    }

    .iguana-como-funciona-container {
        margin-top: 5%;
        margin-left: 2%;
    }

    .nav-fillpath {
        display: block;
    }

    .iguana-destacados-cuadro {
        margin-bottom: 3%;
    }

    .iguana-categories-cuadro {
        margin-bottom: 2%;
    }

    .main-footer .container{
        width: 87%;
    }

    .call-action-line-rosa-btn, .call-action-line-rosa-btn:focus, .call-action-line-rosa-btn:active {
        width: 156px;
        bottom: 5%;
    }

}

/* Escritorios muy anchos
------------------------------------------------------------------------- */
@media (min-width: 1200px) { 

    .heading-line-center{
        margin-bottom: 5%;
    }

    .iguana-destacados-cuadro .team-box {
        height: 100%;
    }
}


/* Animation Page */
.title-left h5 {
    font-size: 27px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: none;
    margin-bottom: 32px;
}

.title-left h6 {
    color: #373737;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 26px;
    margin-left: 20px;
}

.title-left h6 span {
    color: #696969;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 26px;
}

.title-left span {
    font-family: 'Open Sans', serif;
    font-style: italic;
    font-weight: 400;
    text-transform: none;
}

.anim-triangle {
    right: 30%;
    width: 100%;
    height: auto;
    margin-top: 5%;
    position: absolute !important;
}

.anim-shape {
    left: 34%;
    width: 100%;
    height: auto;
    margin-top: 12%;
    position: absolute !important;
}

.anim-square {
    right: 18%;
    width: 100%;
    height: auto;
    margin-top: 37%;
    position: absolute !important;
}

.anim-triangle-2 {
    left: 18%;
    width: 100%;
    height: auto;
    margin-top: 37%;
    position: absolute !important;
}

@media (max-width: 1400px) {
    .anim-triangle, .anim-shape {
        margin-top: 15%;
    }

    .anim-square, .anim-triangle-2 {
        margin-top: 40%;
    }
}

@media(max-width: 992px) {
    .anim-square, .anim-triangle-2 {
        margin-top: 60%;
    }
}

@media (max-width: 480px) {
    .anim-triangle, .anim-shape, .anim-square, .anim-triangle-2 {
        display: none !important;
    }
}

.anim-spin {
    -webkit-animation-name: spin;
    -moz-animation-name: spin;
    -ms-animation-name: spin;
    animation-name: spin;
    -webkit-animation-duration: 25000ms;
    -moz-animation-duration: 25000ms;
    -ms-animation-duration: 25000ms;
    animation-duration: 25000ms;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}


/* CATEGORIES */
.iguana-category-section0 {
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.iguana-category-section0 h1{
    color: white;
}

.iguana-category-section0 h4{
    color: white;
}

.iguana-categories-cuadro{
    text-align: center;
}

.iguana-categories-cuadro h3{
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
    line-height: normal;
    font-size: medium;
    letter-spacing: 1px;
}
.iguana-categories-cuadro h5{
    padding: 0px;
    margin: 10px 0;
    line-height: normal;
    font-size: medium;
    text-transform: none;
    letter-spacing: 0;
}

.iguana-category-section0-title{
    margin-top: 10%;
}


/* HOME */
.iguana-home-section0 {
    min-height: 450px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.iguana-home-section0 h1:first-child{
    margin-top: 35%;
}

.iguana-home-section0 h1{
    color: white;
}

.iguana-home-section0 h4{
    color: white;
}

.iguana-autos-section0 {
    min-height: 450px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.iguana-autos-section0 h1:first-child {
    margin-top: 35%;
}

.iguana-autos-section0 h1{
    color: white;
}

.iguana-autos-section0 h4{
    color: white;
}

.iguana-autos-section0-left {
    margin-top: 3%;
    text-align: center;
}
.iguana-autos-section0-right {
    margin-top: 3%;
    text-align: center;
}



.iguana-autos-section2 {
    margin-top: 4%;
    min-height: 160px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    overflow: hidden;
}

.iguana-autos-section2 h2 {
    color: white;
}

.iguana-landing-section0 {
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

.iguana-landing-section0 .row:first-child {
    margin-top: 15%;
}

.iguana-landing-section0 h1{
    color: #777;
}

.iguana-landing-section0 .heading-line-center{
    margin-bottom: 15%;
}


/* FOOTER */

/* Tab */
.nav-tabs > li > a {
    border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px;
    border-bottom: 2px solid transparent;
    font-size: 18px;
    padding: 12px 22px;
    color: #171717;
}
.tab-content {
    background: #fff none repeat scroll 0 0;
    border: 1px solid;
    border-color: #ddd;
    margin-top: -1px;
    padding: 23px 25px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    -ms-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    -o-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}
.nav-tabs > li > a:hover,.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
    border-bottom: 2px solid;
    background-color: #fff;
    -webkit-box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.05);
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.05);
}
.tab-content p:last-child{
    margin-bottom: 0;
}
/* Tab Right */
.tab.text-right .nav-tabs > li {
    float: right;
    margin-right: -2px;
}

/* Accordion */
.panel-group .panel{
    border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px;
}
.accordion .panel-heading{
    padding: 0;
    border: none;
}
.accordion .panel-title a{
    padding: 10px 20px;
    display: block;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    background: #f1f1f1;

}
.accordion .panel-title a{
    background: #fff;
}
.accordion .panel-title a.collapsed{
    background: #f1f1f1;
}
.accordion .panel-title a:before {
    font-family:'FontAwesome';
    content: "\f0d8";
    text-align:center;
    color: inherit;
    position: absolute;
    right: 20px;
}
.accordion .panel-title a.collapsed:before{
    content: "\f0d7";
}
.accordion .panel-body {
    padding: 0 20px 15px;

}
.panel-body p {
    font-size:11px;
}
.panel-group .panel + .panel{
    margin-top: 20px;
}
.panel-group .panel{
    border-left: 4px solid;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: transparent;
}
/* Accordion dark */
.dark.accordion .panel-title a, .dark.accordion .panel-title a.collapsed{
    background: #222;
    color: #fff;
}
.dark.accordion .panel, .dark.accordion .panel{
    background: #252525;
    color: #fff;
}

.form-control-feedback {
    cursor: pointer;
    top: 20px;
    z-index: 3;
}
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group{
    height: 60px;
    line-height: 44px;
}
.typo-light .widget .form-control{
    background: none repeat scroll 0 0 #252525;
    color: #fff;
}
form.text-right .form-control{
    text-align: right;
}
form.transparent .form-control{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5) !important;
    color: #fff;
}
form.border .form-control{
    background: transparent;
    border: 1px solid #e1e1e1;
    color: #fff;
}
form.dark .form-control{
    background: none repeat scroll 0 0 #252525;
    color: #fff;
}

/*==================== 
        Widgets 
====================== */
.widget{
    padding: 20px;
    background-color: #fff;
}
.widget.widget-last{
    margin-bottom: 0px;
}
.widget.no-box{
    padding: 0;
    background-color: transparent;
    box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;
}
.widget.subscribe p{
    margin-bottom: 18px;
}
.widget li a{
    color: #606060;
}
.widget-title {
    margin-bottom: 10px;
    color: white;
}

.widget-title:first-child {
    margin-top: 4%;
}
.widget-title span {
    background: #606060 none repeat scroll 0 0;
    display: block;
    height: 1px;
    margin-top: 25px;
    position: relative;
    width: 20%;
}
.widget-title span::after {
    background: inherit;
    content: "";
    height: inherit;
    position: absolute;
    top: -4px;
    width: 50%;
}
.widget-title.text-center span,
.widget-title.text-center span::after {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.widget .badge{
    float: right;
    background: #7f7f7f;
}
/* Go Link Widget */
.go-widget li a {
    line-height: 20px;
    display: block;
    padding: 5px 0;
    position: relative;

}
.go-widget li a:hover {
    padding: 5px 0 5px 20px;
}
.go-widget li:last-child a {
    padding-bottom: 0;
}
.go-widget li a::before {
    content: "\f054";
    font-family: 'FontAwesome';
    font-size: 13px;
    font-weight: normal;
    left: -20px;
    line-height: inherit;
    margin-right: 10px;
    position: absolute;
    top: 7px;
    opacity: 0;
}
.go-widget li a:hover::before {
    left: 0;
    opacity: 1;
}
.go-widget li a::before,
.go-widget li a:hover::before, .go-widget .badge{
    -webkit-transition:all 350ms ease-in-out 0s;
    -moz-transition:all 350ms ease-in-out 0s;
    -ms-transition:all 350ms ease-in-out 0s;
    -o-transition:all 350ms ease-in-out 0s;
    transition:all 350ms ease-in-out 0s;
}
/* Tag Widget */
.tag-widget li {
    display: inline-block;
    margin-bottom: 4px;
}
.tag-widget li a{
    padding: 6px 10px;
    display: block;
    border: 1px solid #ccc;
    color: #7f7f7f;
    border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px;
}
.widget .tag-widget li a:hover{
    color: #fff;
}
/* Thumnail Widget */
.thumbnail-widget li {
    display: table;
    padding-bottom: 20px;
}
.thumbnail-widget li:last-child{
    padding-bottom: 0;
}
.thumbnail-widget .thumb-wrap {
    margin-right: 20px;
    display: inline-block;
}
.thumbnail-widget .thumb-wrap img{
    display: inline-block;
}
.thumb-circle .thumb-wrap img{
    border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%;
}
.thumbnail-widget .thumb-content {
    display: table-cell;
    vertical-align: middle;
}
.thumb-content > h5 {
    margin-bottom: 5px;
}
.thumbnail-widget a{
    display: block;
}
.thumbnail-widget span{
    font-size: 12px;
    font-style: italic;
    color: #7f7f7f;
}
.thumbnail-widget p{
    margin: 0;
    color: #7f7f7f;
}
/* Thumb Gallery Widget */
.gallery-widget ul{
    margin: 0 -2px;
}
.gallery-widget li {
    float: left;
    padding: 0 2px 4px;
    width: 25%;
}
.gallery-widget li img {
    display: inline-block;
    height: auto;
    width: auto;
}

/* Widget light */
.widgets-dark.typo-light p{
    color: #969696;
}
.widgets-dark.typo-light .widget{
    background: #303030;
}
.widgets-dark.typo-light .widget.no-box{
    background: transparent;
}
.widgets-dark.typo-light .widget li a{
    color: #969696;
}
.widgets-dark.typo-light .widget .form-control{
    background: #252525;
    color: #fff;
}
.widgets-dark.typo-light .widget.no-box .form-control{
    background: #303030;
}
.widgets-dark.typo-light .widget .accordion-widget .panel-group .panel{
    border: 1px solid transparent;
}
.widgets-dark.typo-light .widget .accordion .panel-title a,
.widgets-dark.typo-light .widget .accordion-widget .panel{
    background: #252525;
}
.widgets-dark.typo-light .widget.no-box .accordion .panel-title a,
.widgets-dark.typo-light .widget.no-box .accordion-widget .panel{
    background: #303030;
}
.widgets-dark.typo-light .widget .accordion-widget .panel-default > .panel-heading .badge{
    background: #303030;
}
.widgets-dark.typo-light .widget.no-box .accordion-widget .panel-default > .panel-heading .badge{
    background: #252525;
}
.widgets-dark.typo-light .daycounter span{
    color: #969696;
}

footer .main-footer{
    padding: 0px 0px 20px 0px;
    background: #252525;
}
footer ul{
    padding-left: 0;
    font-size: 15px;
    list-style: none;
}

.footer-copyright {
    background: #222;
    padding: 15px 0;
}
.footer-copyright .logo {
    display: inherit;
}
.footer-copyright nav {
    float: right;
    margin-top: 5px;
}

.footer-copyright nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-copyright nav ul li {
    border-left: 1px solid #505050;
    display: inline-block;
    line-height: 12px;
    margin: 0;
    padding: 0 8px;
}
.footer-copyright nav ul li a{
    color: #969696;
}
.footer-copyright nav ul li:first-child {
    border: medium none;
    padding-left: 0;
}
.footer-copyright p {
    color: #969696;
}

.footer-top{
    background: #252525;
    padding-bottom: 12px;
    margin-bottom: 0px;
    border-bottom: 3px solid #222;
}

.footer- .logo {
    display: inline-block;
}

.template-box.box-login li{
    display: block;
}

a:hover,a:focus,a.active,.btn:hover,.btn:focus,.btn.active{
    text-decoration: none;
    outline: none;
}
a, a:hover, a:focus, .btn, btn:hover, button, button:hover{
    -webkit-transition:all 250ms ease-in-out 0s;
    -moz-transition:all 250ms ease-in-out 0s;
    -ms-transition:all 250ms ease-in-out 0s;
    -o-transition:all 250ms ease-in-out 0s;
    transition:all 250ms ease-in-out 0s;
}