@import url(font-awesome.min.css);
/*
************************************************************
COMMONS
************************************************************
*/

html {
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    width: 100%;
    height: 100%;
    transition: all 1.3s ease-out 0s;
    background-color: #fff;
    color: #696969;
    font-family: 'Open Sans',sans-serif;
    line-height: 23px;
    overflow-x: hidden !important;
    overflow-y: scroll;
    overflow: hidden;
}

p {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 400;
}

h1 {
    font-family: 'Open Sans',sans-serif;
    color: #000000 !important;
    letter-spacing: 5px;
    text-transform: uppercase;
}

h2 {
    font-family: 'Open Sans',sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}

h3 {
    font-weight: 600;
    letter-spacing: 12px;
    line-height: 1.28571em;
}

h4 {
    color: #000000 !important;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h5 {
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h6 {
    font-family: 'Open Sans', serif;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 26px;
}

h1, h1 a, h3, h3 a {
    color: #5d5d5d;
}

h2, h2 a, h4, h4 a, h5, h5 a {
    color: #353535;
}

h6, h6 a {
    color: #777;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    text-transform: inherit;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: #000;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.2s ease-in-out 0s;
}

a, p a {
    color: #696969;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.2s ease-in-out 0s;
}

a, a:hover, a:focus, a:active, button::-moz-focus-inner,input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, select::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 0;
    text-decoration: none;
    -moz-outline: none;
    outline: none;
}

ul {
    list-style: none outside none;
}

ul li {
    line-height: 40px;
    position: relative;
}

hr {
    border-width: 1px 0 0;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
}

span {
    font-family: 'Open Sans', serif;   
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase !important;
}

/*Text-inputs*/

input {
    border: none;
    border-bottom: 1px solid #ff4081;
    display: block;
    padding: 8px 0px;
    -webkit-transition: 0.2s border-bottom;
    transition: 0.2s border-bottom;
    width: 100%;
}

input:focus, input:invalid {
    box-shadow: none;
    outline: none;
}

input:focus {
    border-bottom: 1px solid #ff4081;
}

/*Labels*/
label {
    color: #ff4081;
    pointer-events: none;
    position: absolute;
    top: 10px;
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
}

input:focus ~ label, input:valid ~ label {
    color: #ff4081;
    top: -16px;
}

/*Bar that appears when an input is selected*/
.bar:before, .bar:after {
    background: #ff4081;
    bottom: 1px;
    content: '';
    height: 2px;
    position: absolute;
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
    width: 0;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}


/* Margins */
.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-90 {
    margin-top: 90px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-120 {
    margin-top: 120px;
}

.mt-200 {
    margin-top: 200px;
}

.mt-300 {
    margin-top: 300px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-90 {
    margin-bottom: 90px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-120 {
    margin-bottom: 120px;
}

.mb-200 {
    margin-bottom: 200px;
}

.mb-300 {
    margin-bottom: 300px;
}

.m-10 {
    margin: 10px;
}

.m-20 {
    margin: 20px;
}

.m-70 {
    margin: 70px;
}

.mt-10-n {
    margin-top: -10px !important;
}

.mt-20-n {
    margin-top: -20px !important;
}

.mt-30-n {
    margin-top: -30px !important;
}

.mt-40-n {
    margin-top: -40px !important;
}

.mt-50-n {
    margin-top: -50px !important;
}

.mt-60-n {
    margin-top: -60px !important;
}

.mt-70-n {
    margin-top: -70px !important;
}

.mt-200-n {
    position: relative !important;
    top: -200px !important;
    z-index: 0 !important;
}

.mt-300-n {
    position: relative !important;
    top: -300px !important;
    z-index: 1 !important;
}

.mt-300-z {
    position: relative !important;
    top: -300px !important;
    z-index: 0 !important;
}

.mb-10-n {
    margin-bottom: -10px !important;
    position: relative;
}

.mb-20-n {
    margin-bottom: -20px !important;
    position: relative;
}

.mb-30-n {
    margin-bottom: -30px !important;
    position: relative;
}

.mb-40-n {
    margin-bottom: -40px !important;
    position: relative;
}

.mb-50-n {
    margin-bottom: -50px !important;
    position: relative;
}

.mb-60-n {
    margin-bottom: -60px !important;
    position: relative;
}

.mb-70-n {
    margin-bottom: -70px !important;
    position: relative;
}

.mb-200-n {
    position: relative !important;
    margin-bottom: -200px !important;
}

.mb-200-z {
    position: relative !important;
    margin-bottom: -200px !important;
}

.mb-300-n {
    position: relative !important;
    margin-bottom: -300px;
}

@media (max-width: 992px) {
    .xs-mb-30 {
        margin-bottom: 30px !important;
    }
}

@media screen and (max-width: 1800px) {
    .mt-30-n {
        margin-top: -30px;
    }

    .mt-200-n {
        top: 0px !important;
    }

    .mb-200-n {
        margin-bottom: 0px !important;
    }

    .mb-200-z {
        margin-bottom: -300px !important;
    }
}

/*
************************************************************
FIN COMMONS
************************************************************
*/



/* Buttons */

::selection {
    color: #fff;
    background: #ccc;
}

::-moz-selection {
    color: #fff;
    background: #ccc;
}

.call-action-line-rosa-btn, .call-action-line-rosa-btn:focus, .call-action-line-rosa-btn:active {
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: transparent;
    display: inline-block;
    padding: 0px 0;
    color: #ff4081;
    border: 2px solid #ff4081;
    text-transform: uppercase;
    border-radius: 40px;
    text-decoration: none;
    width: 140px;
    height: 45px;
    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    position: relative;
    font-weight: 100;
    padding: 0.5em 1.29em;
    text-align: center;  
    overflow: hidden;
    position: relative;
    z-index: 0;
    cursor: pointer;
    margin-bottom: 2%;
}

.call-action-line-rosa-btn:hover {
    background-color: #ff4081;
    border: 2px solid #ff4081;
    color: #fff;
}

.call-action-line-rosa-pros-btn, .call-action-line-rosa-btn:focus, .call-action-line-rosa-btn:active {
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: transparent;
    display: inline-block;
    padding: 0px 0;
    color: #ff4081;
    border: 2px solid #ff4081;
    text-transform: uppercase;
    border-radius: 40px;
    text-decoration: none;
    width: 200px;
    height: 45px;
    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    position: relative;
    font-weight: 100;
    padding: 0.6em 1.27em;
    text-align: center;  
    overflow: hidden;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.call-action-line-rosa-pros-btn:hover {
    background-color: #ff4081;
    border: 2px solid #ff4081;
    color: #fff;
}

.call-action-rosa-btn, .call-action-rosa-btn:focus, .call-action-rosa-btn:active {
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #ff4081;
    display: inline-block;
    color: #fff;
    border: 2px solid #FF357C;
    border-radius: 40px;
    text-decoration: none;
    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    position: relative;
    font-weight: 100;
    margin-top: 4%;
    padding: 0.7em 1.25em;
    text-align: center;
    overflow: hidden;
    z-index: 0;
    cursor: pointer;

    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,1.75);
}

.call-action-rosa-btn:hover {
    background-color: #ff4081;
    border: 2px solid #ff4081;
    color: #FFFFFF;
}

.hoverable:hover > .anim {
    -moz-animation: anim-out 0.75s;
    -webkit-animation: anim-out 0.75s;
    animation: anim-out 0.75s;
}

.hoverable:hover > .anim:after {
    -moz-animation: anim-out-pseudo 0.75s;
    -webkit-animation: anim-out-pseudo 0.75s;
    animation: anim-out-pseudo 0.75s;
}

/* Preloader */
#preloader  {
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: fixed;
    margin-top: 0px;
    top: 0px;
    z-index: 9999;
}

#status  {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url("../static/home/image/preloader.gif");
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    opacity: .2;
}


/* PROPIOS IGUANA */
.iguana-inicio-space{
    margin-bottom: 20%;
}

#section0{
    background-image: url(../static/home/image/bg-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.mat-in {
    position: relative;
    margin-bottom: 32px;
}

.frame-img-light {
    background-image: url("../static/home/image/bg-pros.jpg");
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 95%;
    height: auto;
}

.frame-img-light img {
    width: 100%;
}
/*================================================= 
            RESPONSIVE 
======================== */

/* LINEAS */
.heading-line-center {
    text-align: center;
    width: 150px;
    border-bottom: 3px solid #ff4081;
    margin-bottom: 13%;
    margin-left: auto;
    margin-right: auto;
}

.heading-line-blue-left {
    width: 140px;
    border-bottom: 2px solid #ff4081;
    margin-top: 22px;
    margin-right: 33px;
    margin-left: -12%;
    float: left;
}

.line-black-left {
    border: 1px #ccc solid;
    margin-top: 5px;
    margin-bottom: 5px;
}


/* Icon Scroll¨*/
.mouse {
    position: absolute;
    bottom: 10%;
    right: 49%;
    z-index: 500;
    -webkit-animation: vertical 3s ease infinite;
    animation: vertical 3s ease infinite;
}

@keyframes vertical { 
    0%, 60%, 80%, 100% {-webkit-transform: translateY(0);} 
    20% {-webkit-transform: translateY(-5px);}
    40% {-webkit-transform: translateY(20px);}
} 

@-webkit-keyframes vertical { 
    0%, 60%, 80%, 100% {-webkit-transform: translateY(0);} 
    20% {-webkit-transform: translateY(-5px);}
    40% {-webkit-transform: translateY(20px);}
}

@-moz-keyframes vertical{
    0%, 60%, 80%, 100% { -moz-transform: translateY(0);} 
    20% { -moz-transform: translateY(-5px);}
    40% { -moz-transform: translateY(20px);}
}

@-ms-keyframes vertical{
    0%, 60%, 80%, 100% { -ms-transform: translateY(0);} 
    20% { -ms-transform: translateY(-5px);}
    40% { -ms-transform: translateY(20px);}
}

.mouse a:hover {
    opacity: 0.5;
    transition: all 0.5s ease-in-out 0s;
}

.iguana-home-btn-auto, .iguana-home-btn-hogar{
    text-align: center;
}

.iguana-como-funciona-titulo{
    position: absolute;
    top: 6%;
    text-align: center;
    left: 13%;
}

.iguana-telefono{
    background-image: url(../static/home/image/telefono.gif);
    position: absolute;
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    top: 20%;
    left: 15%;
    width: 70%;
}
.iguana-telefono-contenido{
    margin: auto;
    width: 87%;
    padding-top: 24%;
}

.iguana-como-funciona-container {
    margin-top: 85%;
}

/*
   MENU
*/

.nav-primary {
    position: fixed;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin:0;
    padding-top: 1%;
}

.nav-primary .iguana-nav-izq{
    display: none;
}

.main-nav > li {
    display: inline-block;
}

.main-nav > li > a {
    display: inline;
    padding-left: 20px;
    padding-top: 20px;
    position: relative;
    color: white;
    font-size: 18px;
}

.ic {
    position: fixed;
    cursor: pointer;
    display: inline-block;
    right: 25px;
    width: 32px;
    height: 30px;
    text-align: center;
    top: 0px;
    outline: none;
}

.ic.close {
    opacity: 0;
    font-size: 0px;
    font-weight: 300;
    color: #fff;
    top: 8px;
    height: 40px;
    display: block;
    outline: none;
}

.ic.menu {
    top: 25px;
    z-index: 20;
}

.ic.menu .line {
    height: 4px;
    width: 100%;
    display: block;
    margin-bottom: 6px;
}

@media only screen and (max-width:768px) {
    .ic.menu {
        display: block;
        background-color: rgba(53, 81, 173, 0.8);
    }
    .ic.menu .line {
        background-color: white;
        margin-top: 2px;
    }
    
    .ic.menu .line {
        -webkit-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
        transform-origin: center center;
    }
    .ic.menu:focus .line {
        background-color: #fff !important;
    }
    .ic.menu:focus .line:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .ic.menu:focus .line:nth-child(2) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        margin-top: -10px;
    }
    .ic.menu:focus .line:nth-child(3) {
        transform: translateY(15px);
        opacity: 0;
    }
    .ic.menu:focus {
        outline: none;
    }
    .ic.menu:focus ~ .ic.close {
        opacity: 1;
        z-index: 21;
        outline: none;
    }
    .ic.menu:focus ~ .ic.close { 
        opacity: 1.0; 
        z-index : 21;  
    }
    .ic.close:focus { 
        opacity: 0; 
    }

    .ic.menu:focus {
        opacity: 1;
    }

    /* Main Menu for Handheld Devices  */
    ul.main-nav {
        z-index: 2;
        padding: 50px 0;
        position: fixed;
        right: 0px;
        top: 0px;
        width: 0px;
        background-color: #3551ad;
        height: 100%;
        overflow: auto;
        /*CSS animation applied : Slide from Right*/
        -webkit-transition-property: background, width;
        -moz-transition-property: background, width;
        -o-transition-property: background, width;
        transition-property: background, width;
        -webkit-transition-duration: 0.6s;
        -moz-transition-duration: 0.6s;
        -o-transition-duration: 0.6s;
        transition-duration: 0.6s;
    }
    .ic.menu:focus ~ .main-nav {
        width: 60%;
        background-color: #3551ad;
    }
    ul.main-nav > * {
        -webkit-transition-property: opacity;
        -moz-transition-property: opacity;
        -o-transition-property: opacity;
        transition-property: opacity;
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        transition-duration: 0.4s;
        opacity: 0;
    }
    .ic.menu:focus ~ .main-nav > * {
        opacity: 1;
    }

    ul.main-nav > li {
        display: block;
        text-align: right;
        padding-right: 15%;
    }

}

/* Móviles en horizontal o tablets en vertical
  ------------------------------------------------------------------------- */
@media (min-width: 480px) 
and (max-width: 1023px){
    .iguana-home-btn-auto{
        width: 50%;
        text-align: right;
    }
    .iguana-home-btn-hogar{
        width: 50%;
        text-align: left;
    }
    .iguana-destacados-cuadro{
        width: 50%;
    }

    .iguana-telefono{
        top: 30%;
        width: 30%;
        left: 55%;
    }

    .iguana-como-funciona-container {
        width: 50%;
        margin-top: 0;
        margin-left: 7%;
    }

}

/* Tablets en horizonal y escritorios normales
------------------------------------------------------------------------- */
@media (min-width: 1024px) { 
    .iguana-como-funciona-titulo{
        top: 10%;
        left: 38%;
    }

    h1.wow.fadeInDown.text-center{
        letter-spacing: 17px;
        font-size: 40px;
    }

    h4.wow.fadeInDown.text-center{
        letter-spacing: 10px;
        font-size: 20px;
    }

    h2 {
        letter-spacing: 5px;
    }

    h5 {
        letter-spacing: 3px;
        font-size: 17px;
        font-weight: 400;
        padding-top: 15px;
    }

    #section3 h2{
        padding-top: 6%;
    }

    p {
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 30px;
    }

    .iguana-home-btn-auto{
        width: 50%;
        text-align: right;
    }
    .iguana-home-btn-hogar{
        width: 50%;
        text-align: left;
    }

    .iguana-telefono{
        top: 25%;
        width: 30%;
        left: 53%;
    }

    .iguana-como-funciona-container {
        margin-top: 0;
    }

    .ic.menu {
        top: 25px;
        z-index: 30;
    }

    .nav-primary{
        padding-right: 10%;
    }

    .main-nav {
        display: block;
        position: relative;
        text-align: right;
    }
    .nav-primary .iguana-nav-izq {
        display: inline-block;
    }

    .iguana-nav-izq{
        float: left;
    }
    .iguana-como-funciona-container {
        width: 50%;
        margin-top: 0;
        margin-left: 7%;
    }

}

/* Escritorios muy anchos
------------------------------------------------------------------------- */
@media (min-width: 1200px) { 

    .heading-line-center{
        margin-bottom: 5%;
    }
}


/* Animation Page */
.title-left h5 {
    font-size: 27px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: none;
    margin-bottom: 32px;
}

.title-left h6 {
    color: #373737;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 26px;
    margin-left: 20px;
}

.title-left h6 span {
    color: #696969;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 26px;
}

.title-left span {
    font-family: 'Open Sans', serif;
    font-style: italic;
    font-weight: 400;
    text-transform: none;
}

.anim-triangle {
    right: 30%;
    width: 100%;
    height: auto;
    margin-top: 5%;
    position: absolute !important;
}

.anim-shape {
    left: 34%;
    width: 100%;
    height: auto;
    margin-top: 12%;
    position: absolute !important;
}

.anim-square {
    right: 18%;
    width: 100%;
    height: auto;
    margin-top: 37%;
    position: absolute !important;
}

.anim-triangle-2 {
    left: 18%;
    width: 100%;
    height: auto;
    margin-top: 37%;
    position: absolute !important;
}

@media (max-width: 1400px) {
    .anim-triangle, .anim-shape {
        margin-top: 15%;
    }

    .anim-square, .anim-triangle-2 {
        margin-top: 40%;
    }
}

@media(max-width: 992px) {
    .anim-square, .anim-triangle-2 {
        margin-top: 60%;
    }
}

@media (max-width: 480px) {
    .anim-triangle, .anim-shape, .anim-square, .anim-triangle-2 {
        display: none !important;
    }
}

.anim-spin {
    -webkit-animation-name: spin;
    -moz-animation-name: spin;
    -ms-animation-name: spin;
    animation-name: spin;
    -webkit-animation-duration: 25000ms;
    -moz-animation-duration: 25000ms;
    -ms-animation-duration: 25000ms;
    animation-duration: 25000ms;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}


/*
************************************************************
ARROW
************************************************************
*/

.nav-fillpath a {
    width: 60px;
    height: 60px;
}

.nav-fillpath .icon-wrap {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.nav-fillpath a::before,
.nav-fillpath a::after,
.nav-fillpath .icon-wrap::before,
.nav-fillpath .icon-wrap::after {
    position: absolute;
    left: 50%;
    width: 3px;
    height: 50%;
    background: #566475;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.nav-fillpath .icon-wrap::before,
.nav-fillpath .icon-wrap::after {
    z-index: 100;
    height: 0;
    background: #fff;
    -webkit-transition: height 0.3s, -webkit-transform 0.3s;
    transition: height 0.3s, transform 0.3s;
}

.nav-fillpath a::before,
.nav-fillpath .icon-wrap::before {
    top: 50%;
    -webkit-transform: translateX(-50%) rotate(-135deg);
    transform: translateX(-50%) rotate(-135deg);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.nav-fillpath a.next::before,
.nav-fillpath a.next .icon-wrap::before {
    -webkit-transform: translateX(-50%) rotate(135deg);
    transform: translateX(-50%) rotate(135deg);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.nav-fillpath a::after,
.nav-fillpath .icon-wrap::after {
    top: 50%;
    -webkit-transform: translateX(-50%) rotate(-45deg);
    transform: translateX(-50%) rotate(-45deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.nav-fillpath a.next::after,
.nav-fillpath a.next .icon-wrap::after {
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
}

.nav-fillpath a.prev h3 {
    left: 100%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.nav-fillpath a.next h3 {
    right: 100%;
    text-align: right;
    -webkit-transform: translateY(-50%) translateX(50%);
    transform: translateY(-50%) translateX(50%);
}

.nav-fillpath a:hover .icon-wrap::before,
.nav-fillpath a:hover .icon-wrap::after {
    height: 50%;
}

.nav-fillpath a:hover::before,
.nav-fillpath a:hover .icon-wrap::before {
    -webkit-transform: translateX(-50%) rotate(-125deg);
    transform: translateX(-50%) rotate(-125deg);
}

.nav-fillpath a.next:hover::before,
.nav-fillpath a.next:hover .icon-wrap::before {
    -webkit-transform: translateX(-50%) rotate(125deg);
    transform: translateX(-50%) rotate(125deg);
}

.nav-fillpath a:hover::after,
.nav-fillpath a:hover .icon-wrap::after {
    -webkit-transform: translateX(-50%) rotate(-55deg);
    transform: translateX(-50%) rotate(-55deg);
}

.nav-fillpath a.next:hover::after,
.nav-fillpath a.next:hover .icon-wrap::after {
    -webkit-transform: translateX(-50%) rotate(55deg);
    transform: translateX(-50%) rotate(55deg);
}

.nav-fillpath a:hover h3 {
    opacity: 1;
    -webkit-transform: translateY(-50%) translateX(0);
    transform: translateY(-50%) translateX(0);
}

nav a {
    position: absolute;
    top: 50%;
    display: block;
    outline: none;
    text-align: left;
    z-index: 1000;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

nav a.prev {
    left: -5%;
}

nav a.next {
    right: -5%;
}

@media (min-width: 375px)
and (max-width: 768px){
    nav a.prev {
        left: -9%;
    }

    nav a.next {
        right: -9%;
    }
    .nav-fillpath a {
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 768px) { 
    nav a.prev {
        left: 0;
    }

    nav a.next {
        right: 0;
    }

    .nav-fillpath a {
        width: 100px;
        height: 100px;
    }

}
