/* botones material*/

.anim {
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
}
.anim:before {
    position: relative;
    content: '';
    display: block;
    margin-top: 100%;
}
.anim:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
}

.hoverable:hover > .anim {
    -moz-animation: anim-out 0.75s;
    -webkit-animation: anim-out 0.75s;
    animation: anim-out 0.75s;
}
.hoverable:hover > .anim:after {
    -moz-animation: anim-out-pseudo 0.75s;
    -webkit-animation: anim-out-pseudo 0.75s;
    animation: anim-out-pseudo 0.75s;
}
@-webkit-keyframes anim-in {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@-moz-keyframes anim-in {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@-ms-keyframes anim-in {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@keyframes anim-in {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@-webkit-keyframes anim-in-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}
@-moz-keyframes anim-in-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}
@-ms-keyframes anim-in-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}
@keyframes anim-in-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}
@-webkit-keyframes anim-out {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@-moz-keyframes anim-out {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@-ms-keyframes anim-out {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@keyframes anim-out {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@-webkit-keyframes anim-out-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}
@-moz-keyframes anim-out-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}
@-ms-keyframes anim-out-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}
@keyframes anim-out-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}

/* SHADOW */
.shadow-box .shadow-btn {
    border: 1px solid #e7e7e7;
    background: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

.shadow-box .shadow-btn:hover {
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
    box-shadow: 0 4px 18px 2px rgba(0, 0, 0, 0.12);
}

.shadow-box .team-box {
    margin-bottom: 5%;
    margin-top: 5%;
    border: 1px solid #e7e7e7;
    background: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

.shadow-box .team-box:hover {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px);
    box-shadow: 0 20px 40px 2px rgba(0, 0, 0, 0.2);
}

.shadow-box .team-box h5 {
    text-align: center;
    padding: 10px 0px 0px 0px;
}

.shadow-box .team-box h6 {
    text-align: center;
    margin: 12px 10px 0 5px;
    padding-bottom: 25px;
}

.shadow-box .team-box img {
    padding: 0;
    width: 100%;
}

@media (max-width: 992px) {
    .shadow-box .team-box {
        margin-bottom: 100px;
    }
    .shadow-box .team-box:last-child {
        margin-bottom: 0;
    }
}